**/*.md
**/*.svg
# **/*.ejs
# **/*.html
**/*.svg
*.png
*.toml
*.lock
package.json
.umi
.umi-production
.umi-test
/dist
.dockerignore
.DS_Store
.eslintignore
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
yarn-error.log
.history
CNAME
/build
/public